* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url(sitebg.jpg);
    display: grid;
    background-blend-mode: darken;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    align-items: center center;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 30px;
    width: 90vw;
}
.card {
    background-image: url(pokebg.png);
    border-radius: 10px;
    width: 100%;
    text-align: center;
    display: inline-block;
    background-color: rgb(61, 0, 158);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.2);
}
.image {
    height: 375px;
    width: 375px;
    overflow: hidden;
    position: relative;
    margin: 50px;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.details {
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 15px 15px;
}
.details .type,
.details .type1,
.details .type2,
.details .desc {
    margin-bottom: auto;
    color: rgb(30, 16, 16);
}
button{
    padding: 10px 15px;
    margin: 10px 5px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
button.add {
    background-color: palevioletred;
    color: rgb(10, 9, 9);
    font-weight: bold;
}
button.release {
    background-color: blueviolet;
    color: rgb(6, 6, 6);
    font-weight: bold;
}
.darkgreen {
    background-color: #004d00;
}
.orange {
    background-color: #f88008;
}
.skyblue {
    background-color: lightskyblue;
}
.yellow {
    background-color: #ddfa08;
}
.brown {
    background-color: #7d5c10;
}
.lightblue{
    background-color: aqua;
}
.type {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    margin-right: 5px;
    font-weight: bold;
}
.type.grass {
    background-color: palevioletred;
}
.type.poison {
    background-color: goldenrod;
}
.type.fire {
    background-color: red;
}
.type.water {
    background-color: #2196F3;
}
.type.normal{
    background-color: goldenrod;
}
.type.electric{
    background-color: orangered;
}
.add {
    background-color: #91908d;
}
.add:hover {
    background-color: #444442;
}